# App
NODE_ENV=development
PORT=4000

# Database (PostgreSQL)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=medical_db
DB_USER=admin
DB_PASS=admin1234
DB_DIALECT=postgres
# Optional for managed Postgres (set to 'true' if SSL required)
DB_SSL=false

# KEYCLOAK Auth
KEYCLOAK_CLIENT_ID=your_client_id
KEYCLOAK_CLIENT_SECRET=your_client_secret
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=your_realm

# Logging
LOG_LEVEL=info